<?xml version = "1.0" encoding = "UTF-8"?>
 <widget xmlns = "http://www.w3.org/ns/widgets"	
 xmlns:gap = "http://phonegap.com/ns/1.0"
 id	= "Salifu Mutaru"
 versionCode = "11"	
 version= "1.0.0">
 
 <name>
 Track Meter
 </name>
 	
 <description>	
 	Track meters
 </description>
 
 <author
 href="http://www.ashesi.edu.gh"
 email="salifumutaru@gmail.com">
 </author>	
 
 <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
 <allow-navigation href="*" />
 <allow-intent href="*" />
 <access origin = "*"/>
 <icon src="icon.png"/>
 <gap:splash src="splash.png"/>
 </widget>
